<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourcePath" value="%localappdata%\Packages\Microsoft.Windows.ContentDeliveryManager_cw5n1h2txyewy\LocalState\Assets" />
    <add key="DestinationPath" value="%systemdrive%\users\%username%\Pictures\Fondos Windows 10" />
    <add key="AcceptedSizes" value="1920x1080,1080x1920" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>